{% extends "layout.jinja2" %}


{% block content %}
  {% include "navigation.jinja2" %}

  <div class="container">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>

    <div class="products">
      <!--<p><img src="./static/img/profile.jpeg" class="profile-photo">Daniel Mbeyah</p>-->
      <p>Ganna Ozcullu</p>
      <p>Aaron Debely</p>
      <p>Austin Pasztor</p>
      <p>Daniel Mbeyah</p>
      <p>Erich Zinssmeister</p>
    </div>
  </div>

{% endblock %}